#{extends 'main.html' /}

#{if frontPostRef}

    #{displayBlogPost postRef:frontPostRef, as:'home' /}

    #{if olderPostRefs.size()}

        <div class="older-posts">
            <h3>Older posts <span class="from">from this blog</span></h3>

            #{list items:olderPostRefs, as:'oldPostRef'}
                #{displayBlogPost postRef:oldPostRef, as:'teaser' /}
            #{/list}
        </div>

    #{/if}

#{/if}

#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}
