#{extends 'main.html' /}
#{set title:'New Post' /}

%{
    models.blog.Post otherPost;
}%

#{if otherTitle}
#{if action.equals("translate")}
<p>You are currently translating ${otherTitle} from ${language}.</p>
#{/if}
#{elseif action.equals("edit")}
<p>You are currently editing ${otherTitle}.</p>
#{/elseif}
%{
    otherPost = models.blog.Post.getPostByLocale(otherTitle, new java.util.Locale(language));
}%
#{/if}

#{form @BlogController.doNewPost("translate", otherTitle, language) , id:'creationForm', enctype:'multipart/form-data' }

#{field 'post.title'}
<p>
    <label>Title: </label>
    %{
        if (field.flash == null && otherPost != null)
            field.flash = otherPost.title;
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'post.content'}
<p>
    <label>Content: </label>
    %{
        if (field.flash == null && otherPost != null)
            field.flash = otherPost.content;
    }%
    <textarea id="${field.id}" name="${field.name}" class="${field.errorClass}" cols="50" rows="10">${field.flash}</textarea>
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'post.language'}
<p>
    <label>Language: </label>
    <select id="${field.id}" name="${field.name}" class="${field.errorClass}">
    #{if action.equals("edit")}
        <option value="${language}">${language}</option>
    #{/if}
    #{else}
    %{ if (action.equals("translate")){ }%
        #{list items:controllers.I18nController.getAllLocales(otherPost.postReference.getAvailableLocales()), as:'l'}
            <option value="${l}" ${field.flash?.toString().equals(l) || (field.flash == null && request.acceptLanguage().get(0)?.substring(0, 2).equals(l.toString()))? 'selected="true"'.raw() : ''}>${l}</option>
        #{/list}
    %{ }else{ }%
        #{list items:controllers.I18nController.getAllLocalesAsStrings(), as:'l'}
            <option value="${l}" ${field.flash?.toString().equals(l) || (field.flash == null && request.acceptLanguage().get(0)?.substring(0, 2).equals(l.toString()))? 'selected="true"'.raw() : ''}>${l}</option>
        #{/list}
    %{ } }%
            <option value="${l}" ${field.flash?.toString().equals(l) || (field.flash == null && request.acceptLanguage().get(0)?.substring(0, 2).equals(l.toString()))? 'selected="true"'.raw() : ''}>${l}</option>
        #{/list}
    #{/else}
    </select>
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'postReference.tags'}
<p>
    <label>Tags: </label>
    %{
        if (field.flash == null && otherPost != null)
            field.flash = otherPost.postReference.getTagsAsString();
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

<input type="submit" value="ok" />

#{/form}
