#{extends 'main.html' /}
#{set title:'New Post' /}


#{if otherUrlId}
#{if action.equals("translate")}
<p>You are currently translating ${otherUrlId} from ${language}.</p>
#{/if}
#{elseif action.equals("edit")}
<p>You are currently editing ${otherUrlId}.</p>
#{/elseif}
#{/if}

#{form @BlogController.doNewPost(action, otherUrlId, language) , id:'creationForm', enctype:'multipart/form-data' }

#{field 'post.urlId'}
<p>
    <label>Url ID: </label>
    %{
    if (field.flash == null && otherPost != null)
    field.flash = otherPost.urlId;
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'post.title'}
<p>
    <label>Title: </label>
    %{
    if (field.flash == null && otherPost != null)
    field.flash = otherPost.title;
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'post.content'}
<p>
    <label>Content: </label>
    %{
    if (field.flash == null && otherPost != null)
    field.flash = otherPost.content;
    }%
    *{ TODO: waxzce, aloha here ! }*
    <textarea id="${field.id}" name="${field.name}" class="${field.errorClass}" cols="50" rows="10">${field.flash}</textarea>
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'post.language'}
<p>
    <label>Language: </label>
    #{if action.equals("edit")}
    <input type="hidden" id="${field.id}" name="${field.name}" value="${language}" class="${field.errorClass}" />
    ${language}
    #{/if}
    #{else}
    <select id="${field.id}" name="${field.name}" class="${field.errorClass}">
        #{list items:controllers.I18nController.getAllLocales(otherPost?.postReference?.getAvailableLocales()), as:'l'}
        <option value="${l}" ${field.flash?.toString().equals(l) || (field.flash == null && request.acceptLanguage().get(0)?.substring(0, 2).equals(l.toString()))? 'selected="true"'.raw() : ''}>${l}</option>
        #{/list}
    </select>
    #{/else}
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'postReference.tags'}
<p>
    <label>Tags: </label>
    %{
    if (field.flash == null && otherPost != null)
    field.flash = otherPost.postReference.getTagsAsString();
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

<input type="submit" value="ok" />

#{/form}
