#{extends 'main.html' /}
#{set title:'New Page' /}

%{
    models.blog.Post otherPost;
}%

#{if otherTitle}
<p>You are currently translating ${otherTitle} from ${language}.</p>
#{/if}

#{form @BlogController.doNewPost() , id:'creationForm', enctype:'multipart/form-data' }

#{field 'post.title'}
<p>
    <label>&{field.name}</label>
    %{
        if (field.flash == null && otherPost != null)
            field.flash = otherPost.title;
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'post.content'}
<p>
    <label>&{field.name}</label>
    %{
        if (field.flash == null && otherPage != null)
            field.flash = otherPage.content;
    }%
    <textarea id="${field.id}" name="${field.name}" class="${field.errorClass}" cols="50" rows="10">${field.flash}</textarea>
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'post.language'}
<p>
    <label>&{field.name}</label>
    <select id="${field.id}" name="${field.name}" class="${field.errorClass}">
    #{list items:controllers.I18nController.getAllLocalesAsStrings(language), as:'l'}
        <option value="${l}" ${field.flash?.toString().equals(l) || (field.flash == null && request.acceptLanguage().get(0)?.substring(0, 2).equals(l.toString()))? 'selected="true"'.raw() : ''}>${l}</option>
    #{/list}
    </select>
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'postReference.tags'}
<p>
    <label>&{field.name}</label>
    %{
        if (field.flash == null && otherPage != null)
            field.flash = otherPage.pageReference.getTagsAsString();
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

<input type="hidden" name="linkTo.title" value="${otherTitle}" />
<input type="submit" value="ok" />

#{/form}
