#{extends 'main.html' /}
#{set title:post.title /}

<ul id="pagination">
    #{if post.postReference.previous()}
        <li id="previous">
            <a href="@{BlogViewer.show(post.postReference.previous().id)}">
                ${models.blog.Post.getPost(post.postReference.previous().id).title}
            </a>
        </li>
    #{/if}
    #{if post.postReference.next()}
        <li id="next">
            <a href="@{BlogViewer.show(post.postReference.next().id)}">
                ${models.blog.Post.getPost(post.postReference.next().id).title}
            </a>
        </li>
    #{/if}
</ul>

#{displayBlogPost post:post, as:'full' /}

<h3>Post a comment</h3>

#{form @BlogController.postComment(post.title)}

    #{ifErrors}
        <p class="error">
            ${errors[0]}
        </p>
    #{/ifErrors}

    <p>
        <label for="content">Your message: </label>
        <textarea name="content" id="content" cols="100" rows="5">${params.content}</textarea>
    </p>
    <p>
        <label for="code">Please type the code below: </label>
        <img src="@{BlogViewer.captcha(randomID)}" alt="captcha" />
        <br />
        <input type="text" name="code" id="code" size="18" value="" />
        <input type="hidden" name="randomID" value="${randomID}" />
    </p>
    <p>
        <input type="submit" value="Submit your comment" />
    </p>
#{/form}
