#{extends 'main.html' /}
#{set title:'Edit Menu' /}

#{form @MenuController.edit_end(menu.id.toStringMongod()) , id:'creationForm', enctype:'multipart/form-data' }

#{field 'menu.name'}
<p>
    <label>Name: </label>
    <input type="text" id="${field.id}" name="${field.name}" value="${menu.name}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

<input type="submit" value="ok" />
#{/form}

<a href="@{MenuController.addItem(menu.id.toStringMongod())}">&{'admin.menu.addMenuItem'}</a>

<table class="listofmenuItems">
    #{list items:menu.items, as:'mi'}
    <tr>
        <td>${mi.displayStr}</td>
        <td>${mi.getLink()}</td>
        <td>#{a @MenuController.editItem(menu.id.toStringMongod(),mi.id.toStringMongod())}&{'admin.menu.editItem'}#{/a}</td>
        <td>#{a @MenuController.removeItem(menu.id.toStringMongod(),mi.id.toStringMongod())}&{'admin.menu.removeItem'}#{/a}</td>
    </tr>
    #{/list}
</table>
