#{extends 'main.html' /}
#{set title:'New Page' /}

%{
    models.Page otherPage;
}%
#{if otherUrlId}
#{if action.equals("translate")}
<p>You are currently translating ${otherUrlId} from ${language}.</p>
#{/if}
#{elseif action.equals("edit")}
<p>You are currently editing ${otherUrlId}.</p>
#{/elseif}
%{
    otherPage = models.Page.getPageByLocale(otherUrlId, new java.util.Locale(language));
}%
#{/if}

#{form @PageController.doNewPage(action, otherUrlId, language) , id:'creationForm', enctype:'multipart/form-data' }

#{field 'page.title'}
<p>
    <label>Title: </label>
    %{
        if (field.flash == null && otherPage != null)
            field.flash = otherPage.title;
    }%
    *{ TODO: waxzce, aloha here ! }*
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'page.content'}
<p>
    <label>Content: </label>
    %{
        if (field.flash == null && otherPage != null)
            field.flash = otherPage.content;
    }%
    <textarea id="${field.id}" name="${field.name}" class="${field.errorClass}" cols="50" rows="10">${field.flash}</textarea>
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'page.urlId'}
<p>
    <label>Url ID: </label>
    %{
        if (field.flash == null)
            field.flash = otherUrlId;
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'page.language'}
<p>
    <label>Language: </label>
    #{if action.equals("edit")}
    <input type="hidden" id="${field.id}" name="${field.name}" value="${language}" class="${field.errorClass}" />
    ${language}
    #{/if}
    #{else}
    <select id="${field.id}" name="${field.name}" class="${field.errorClass}">
        #{list items:controllers.I18nController.getAllLocales(otherPage?.pageReference?.getAvailableLocales()), as:'l'}
            <option value="${l}" ${field.flash?.toString().equals(l) || (field.flash == null && request.acceptLanguage().get(0)?.substring(0, 2).equals(l.toString()))? 'selected="true"'.raw() : ''}>${l}</option>
        #{/list}
    </select>
    #{/else}
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pageReference.tags'}
<p>
    <label>Tags: </label>
    %{
        if (field.flash == null && otherPage != null)
            field.flash = otherPage.pageReference.getTagsAsString();
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'page.published'}
<p>
    <label>Published: </label>
    %{
        if(action.equals("edit"))
            field.flash = otherPage.published;
        else if (otherUrlId.equals("index")) // when bootstraping because of no Index
            field.flash = true;
    }%
    <input id="${field.id}" name="${field.name}" class="${field.errorClass}" type="checkbox" %{if (field.flash != null && field.flash) {}%checked%{}}%/>
    <span class="error">${field.error}</span>
</p>
#{/}

<input type="submit" value="ok" />

#{/form}
