#{extends 'main.html' /}
#{set title:'New Page' /}

#{form @PageController.doNewPageRef() , id:'creationForm', enctype:'multipart/form-data' }

#{field 'pageRef.urlId'}
<p>
    <label>&{field.name}</label>
    <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pageRef.tags'}
<p>
    <label>&{field.name}</label>
    %{
        String tags = "";
        if(field.value != null){
        for (String tag : field.value) {
            tags += (tags.isEmpty() ? "" : ", ") + tag;
        }
    }
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

<input type="submit" value="ok" />

#{/form}
