#{extends 'main.html' /}
#{set title:'New Page' /}

#{form @PageController.doNewPage() , id:'creationForm', enctype:'multipart/form-data' }

#{field 'linkTo.urlId'}
<p>
    <label>&{field.name}</label>
    <select id="${field.id}" name="${field.name}" class="${field.errorClass}">
    %{
        java.util.Set<String> urlIds = new TreeSet<String>();
        Iterator<String> itz = mongo.MongoEntity.getDs().find(models.Page.class).iterator();
        while (itz.hasNext()) {
            urlIds.add(itz.next().urlId);
        }
        urlIds.add("new");
    }%
    #{list items:urlIds, as:'u'}
        <option value="${u}" ${((field.flash == null && u.equals("new")) || field.flash.toString().equals(u)) ? 'selected="true"'.raw() : ''}>${u}</option>
    #{/list}
    </select>
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'linkTo.newUrlId'}
<p>
    <label>&{field.name}</label>
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pageReference.tags'}
<p>
    <label>&{field.name}</label>
    %{
        String tags = "";
        if(field.value != null){
        for (String tag : field.value) {
            tags += (tags.isEmpty() ? "" : ", ") + tag;
        }
    }
    }%
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'page.title'}
<p>
    <label>&{field.name}</label>
    <input type="text" id="${field.id}" name="${field.name}" value="${field.flash}" class="${field.errorClass}" />
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'page.content'}
<p>
    <label>&{field.name}</label>
    <textarea id="${field.id}" name="${field.name}" class="${field.errorClass}" cols="50" rows="10">${field.flash}</textarea>
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'page.language'}
<p>
    <label>&{field.name}</label>
    <select id="${field.id}" name="${field.name}" class="${field.errorClass}">
    %{
        java.util.Set<String> locales = new java.util.TreeSet<String>();
        for (java.util.Locale locale : java.util.Arrays.asList(java.util.Locale.getAvailableLocales())) {
            locales.add(locale.toString());
        }
    }%
    #{list items:locales, as:'l'}
        <option value="${l}" ${field.flash?.toString().equals(l) || (field.flash == null && request.acceptLanguage().get(0)?.substring(0, 2).equals(l.toString()))? 'selected="true"'.raw() : ''}>${l}</option>
    #{/list}
    </select>
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'page.published'}
<p>
    <label>&{field.name}</label>
    <input id="${field.id}" name="${field.name}" class="${field.errorClass}" type="checkbox" %{if (field.flash != null && field.flash) {}%checked%{}}%/>
    <span class="error">${field.error}</span>
</p>
#{/}

<input type="submit" value="ok" />

#{/form}
