*{ Display a post in one of these modes: 'full', 'home' or 'teaser' }*

<div class="post ${_as == 'teaser' ? 'teaser' : ''}">
    <h2 class="post-title">
        <a href="@{BlogController.show(_post.postReference.id)}">${_post.title}</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">by ${_post.postReference.author}</span>,
        <span class="post-date">${_post.postReference.postedAt.format('dd MMM yy')}</span>
        #{if _post.author != _post.postReference.author}
            <span class="post-translator">translated by ${_post.author}</span>
            <span class="post-translation-date">${_post.postedAt.format('MMM dd')}</span>
        #{/if}
        #{if _as != 'full'}
            <span class="post-comments">
                &nbsp;|&nbsp; ${_post.comments.size() ?: 'no'}
                comment${_post.comments.size().pluralize()}
                #{if _post.comments}
                    #{if _post.comments[_post.comments.size()-1].user}
                        , latest by ${_post.comments[_post.comments.size()-1].user}
                    #{/if}
                    #{elseif _post.comments[_post.comments.size()-1].pseudo}
                        , latest by ${_post.comments[_post.comments.size()-1].pseudo}
                    #{/elseif}
                    #{else}
                        , latest by ${_post.comments[_post.comments.size()-1].email}
                    #{/else}
                #{/if}
            </span>
        #{/if}
        #{elseif _post.postReference.tags}
            <span class="post-tags">
                - Tagged
                #{list items:_post.postReference.tags, as:'tag'}
                    <a href="@{BlogController.listTagged(tag.name)}">${tag}</a>${tag.isLast ? '' : ', '}
                #{/list}
            </span>
        #{/elseif}
    </div>
    #{if _as != 'teaser'}
        <div class="post-content">
            <div class="about">Detail: </div>
            ${_post.content.nl2br()}
        </div>
    #{/if}
</div>

#{if _as == 'full'}
    <div class="comments">
        <h3>
            ${_post.comments.size() ?: 'no'}
            comment${_post.comments.size().pluralize()}
        </h3>

        #{list items:_post.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">by ${comment.author},</span>
                        #{if comment.user}
                            by ${comment.user},
                        #{/if}
                        #{elseif comment.pseudo}
                            by ${comment.pseudo},
                        #{/elseif}
                        #{else}
                            by ${comment.email},
                        #{/else}
                    <span class="comment-date">
                        ${comment.postedAt.format('dd MMM yy')}
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${comment.content.escape().nl2br()}
                </div>
            </div>
        #{/list}

    </div>
#{/if}
