*{ Display a post in one of these modes: 'full', 'home' or 'teaser' }*

<div class="post ${_as == 'teaser' ? 'teaser' : ''}">
    <h2 class="post-title">
        <a href="@{BlogViewer.show(_post.title)}">${_post.title}</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">by ${_post.postReference.author}</span>,
        <span class="post-date">${_post.postReference.postedAt.format('dd MMM yy')}</span>
        #{if _post.author != _post.postReference.author}
            <span class="post-translator">, translated by ${_post.author}</span>
            <span class="post-translation-date">${_post.postedAt.format('dd MMM yy')}</span>
        #{/if}
        #{if _as != 'full'}
            <span class="post-comments">
                &nbsp;|&nbsp; ${_post.comments?.size() ?: 'no'}
                comment${_post.comments?.size()?.pluralize()}
                #{if _post.comments}
                    , latest by ${_post.comments[_post.comments.size()-1].user.raw()}
                #{/if}
            </span>
        #{/if}
        #{elseif _post.postReference.tags}
            <span class="post-tags">
                - Tagged
                #{list items:_post.postReference.tags, as:'tag'}
                    <a href="@{BlogViewer.listTagged(tag.name)}">${tag}</a>${tag_isLast ? '' : ', '}
                #{/list}
            </span>
        #{/elseif}
    </div>
    #{if _as != 'teaser'}
        <div class="post-content">
            <div class="about">Detail: </div>
            ${_post.content.nl2br()}
        </div>
    #{/if}
</div>

#{if _as == 'full'}
    #{if _isConnected}
    <div class="translateMe">
        <a href="@{BlogController.newPost("translate", _post.title, _post.language)}">Translate me !</a>
        &nbsp;|&nbsp;
        <a href="@{BlogController.newPost("edit", _post.title, _post.language)}">Edit me !</a>
        &nbsp;|&nbsp;
        <a href="@{BlogController.newPost("delete", _post.title, _post.language)}">Delete me !</a>
    </div>
    #{/if}
    <div class="comments">
        <h3>
            ${_post.comments?.size() ?: 'no'}
            comment${_post.comments?.size()?.pluralize()}
        </h3>

        #{list items:_post.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">
                        by ${comment.user.raw()},
                    </span>
                    <span class="comment-date">
                        ${comment.postedAt.format('dd MMM yy')}
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${comment.content.escape().nl2br()}
                </div>
            </div>
        #{/list}

    </div>
#{/if}
